{
    "semi": true,
    "singleQuote": true,
    "endOfLine": "lf",
    "tabWidth": 4,
    "printWidth": 130,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "insertPragma": false,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "trailingComma": "none"
}
